<header>
	<div>
		<h1 id="name">{{ name }} {{ surname }}</h1>
		<h2 id="position">{{ position }}</h2>
	</div>
	<div>
{% include 'contacts.jinja' %}
		<ul id="places">
			{{ li_(reside, id='reside') }}
			{{ li_(titles.relocate, id='relocate') if relocate }}
			{{ li_(titles.travel, id='travel') if travel }}
		</ul>
		<p id="citizenship">{{ titles.citizenship }}: {{ citizenship }}</p>
	</div>
</header>
