{% macro li_(text) %}
	{#Render a list item element with the specified text and attributes.

	:param str text: A text for the list item element.
	:param dict kwargs: Attributes of list item element.
	#}
	<li{{ kwargs|xmlattr }}>{{ text }}</li>
{% endmacro %}


{% macro _period_dates(from, to) %}
	{#Render boundaries of the period.

	:param Date from: A start date of the period.
	:param Date to: An end date of the period.
	#}
	{% set long_month = not to and titles.currently|length > 9 %}
	{% set fmt = long_month and LONG_DATE_FORMAT or DATE_FORMAT %}
	{% set locale = language %}
	<span class="pr-boundary">{{ from|experience_boundary(fmt, locale) }}</span> —
	<span class="pr-boundary">
		{{ to|experience_boundary(fmt, locale) if to else titles.currently }}
	</span>
	<span class="pr-duration">{{ duration(from, to, locale) }}</span>
{% endmacro %}


{% macro _period_places(period) %}
	{#Render places of the period.

	:param mapping period:
	#}
	{% if period.region or period.site %}
	<p class="pr-places">
		{% if period.region %}
		<span class="pr-region">{{ period.region }}</span>
		{% endif %}
		{{ period.site|a_(period['site-text']) }}
	</p>
	{% endif %}
{% endmacro %}


{% macro _period_achievements(period) %}
	{#Render achievements of the period.

	:param mapping period:
	#}
	{% if period.achievements %}
	<ul class="achievements">
		{% for achievement in period.achievements %}
		{{ li_(achievement) }}
		{% endfor %}
	</ul>
	{% endif %}
	{% if period.skills and period.skills.values()|select|first %}
	<ul class="achievements">
		{% for skill, _ in skills|items|sort_by_priority(selected_specs) %}
			{% set achievement = period.skills[skill] %}
		{{ li_(achievement, title=skill) if achievement }}
		{% endfor %}
	</ul>
	{% endif %}
{% endmacro %}


{% macro render_experience(type, periods) %}
	{#
	Renders experience section with specified type of experience and its
	periods.

	:param str type: A type of the experience, e. g. 'projects'.
	:param list[mapping] periods: Periods of the experience.
	#}
	<section id="{{ type }}">
		<h3>{{ titles[type] }}</h3>
		<dl class="periods">
	{% for pr in periods %}
			<div>
				<dt>{{ _period_dates(pr.from, pr.to) }}</dt>
				<dd>
		{% if pr.name %}
					<h4 class="pr-name">{{ pr.name }}</h4>
		{% endif %}
					{{ _period_places(pr) }}
		{% if pr.description %}
					<p class="pr-description">{{ pr.description }}</p>
		{% endif %}
		{% if pr.position %}
					<h4 class="pr-position">{{ pr.position }}</h4>
		{% endif %}
					{{ _period_achievements(pr) }}
				</dd>
			</div>
	{% endfor %}
		</dl>
	</section>
{% endmacro %}


<!DOCTYPE html>
<!-- Generated by JoatResume: https://github.com/NSUSpray/JoatResume -->
<html lang="{{ language }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ surname }} - {{ position }}</title>
		<style>{{ style }}</style>
	</head>
	<body>
{% include '_header.jinja' %}
{% include '_main.jinja' %}
	</body>
</html>
